<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Gold hub</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel='stylesheet' type='text/css' href='{% static "login_app/style.css" %}' />
  </head>
  <body>
    <h1>Welcome {{user.name}}</h1>    
    <a class="nicebtn login loginmodal-submit" href="/game">Game</a>
    <a class="nicebtn login loginmodal-submit" href="/all">All Players</a>

  
    <br><br><br>
    
    {% for user in top_5 %}
      <p>:: <a href="/user/{{user.id}}">{{user.name}}</a> :: {{user.gold}}</p>
    {% endfor %}
    <br><br><br>

    <a class="nicebtn login loginmodal-submit" href="/logout">Logout</a>
  </body>
</html>



